{{ define "js_assets" }}
  <script src="/assets/js/vendor/less.min.js"></script>
{{ end}}
{{ define "css_assets" }}
  <link rel="stylesheet" type="text/less" href="/assets/less/main.less" />
{{ end}}
