{{ define "footer" }}
  <footer class="columns-12-1 footer">
    <div class="columns-12-7 made">
      <label >Made with <i class="fa fa-heart fa-lg love"></i> by <a href="https://github.com/influx6">influx6</a></label>
    </div>
    <div class="columns-12-7 tech">
      <label>Built with <a href="https://golang.org">Golang</a> and <a href="https://github.com/influx6/relay">Relay</a></label>
    </div>
  </footer>
{{ end }}
